<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889601962961-k26ulm92rvd3479n85njl3ajnbqtk4t1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889601962961-k26ulm92rvd3479n85njl3ajnbqtk4t1</string>
	<key>API_KEY</key>
	<string>AIzaSyCvvKzXqSfTL1IQCL1MSm_FTyq3MbaBrEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>889601962961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>internal.ToDoDaily</string>
	<key>PROJECT_ID</key>
	<string>tododaily-b0784</string>
	<key>STORAGE_BUCKET</key>
	<string>tododaily-b0784.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889601962961:ios:468ef36c17be466917a6f0</string>
</dict>
</plist>